<ng-container *ngIf="tasksList.length >0; else noTask">
<p [ngStyle]="{color: getColor()}">Todo tasks: {{tasksList.length}}</p>
  <ul>
    <li *ngFor="let task of tasksList; let odd = odd" [ngClass]="{'odd-li': odd, 'last-li': tasksList.length===1}">
      {{task}}
      <button class="btn btn-danger" (click)="remove(task)">Remove</button>
      <button class="btn btn-info" (click)="done(task)">done</button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>No tasks to do, you are free!</p>
</ng-template>
